---
title: Info &amp; Contact
---

<div class="u-flex u-block@md">
  <div class="u-wrap u-island">
    <h2>About</h2>
    <p>I am James Gosling, a freelance commercial photographer currently based in Cheshire. I received my BA in fine art photography from UCA Farnham in 2012.  Since then I have been applying my technical, meticulous style of image making to various business commissions and collaborations with clients ranging from industrial engineering companies to musicians, artists and contemporary design businesses.</p>

    <h2>Prices</h2>
    <ul>
      <li>Half day: <strong>£250</strong></li>
      <li>Full day: <strong>£400</strong></li>
    </ul>
    <p>My prices are simply split into half day and full day packages. This includes all your photographs retouched and either digitally delivered or given to you on a complimentary USB memory stick. Should your project require more extensive retouching or design work, this will be charged additionally at the same rates. If you are unsure how long your project may take to photograph, please get in touch and I’ll be more than happy to advise or arrange a consultation.</p>

    <h2>Contact</h2>
    <p>To discuss your requirements or to arrange a free consultation, please don’t hesitate to contact me.</p>
    <p>Telephone: +447795384993<br/>
      Email: <a href="mailto:jlag6@icloud.com">jlag6@icloud.com</a><br/>
      Instagram: <a href="https://instagram.com/jlag6">@jlag6</a></p>
  </div>
  <div class="site-portrait">
    <img src="/images/info/portrait.jpg" />
  </div>
</div>
